@import "./variables.scss";

.navbar-container {
    background-color: $dark-blue;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 65px;
    align-items: center;
    position: relative;
    padding: 0 2rem;

    #logomarca {
        position: absolute;
        width: 65px;
        top: 20px;
        left: 20px;
        color: $white-color;
    }

    li{
        font-size: 0.9rem;
        list-style: none;
        display: inline-block;
        margin: 1rem;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: 600;

        &#navbar-btn:hover {
                transform: scale(1.08);
        }
        
        a{
            text-decoration: none;
            color: $white-color;
            position: relative;
            transition: 0.3s;

            &.default-btn{
                background-color: $white-color;
                padding: 0.7rem;
                border-radius: 5px;
                color: $dark-blue;
                position: relative;
            }

            &.default-btn:hover{
                transform: scale(1.20);
            }

            &:not(.default-btn)::after {
                content: " ";   
                width: 0%;
                height: 1px;
                background-color: $white-color;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.4s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}
