@import "./variables.scss";

.navbar-container {
    background-color: $dark-blue;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 4rem;
    align-items: center;
    position: relative;
    padding: 0 2rem;

    img {
        position: absolute;
        width: 4rem;
        top: 20px;
        left: 20px;
    }

    li{
        font-size: 14px;
        list-style: none;
        display: inline-block;
        margin: 1rem;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: 600;

        &:hover{
            transform: scale(1.1);
        }

        a{
            text-decoration: none;
            color: $white-color;

            &.default-btn{
                background-color: $white-color;
                padding: 10px;
                border-radius: 5px;
                color: $dark-blue;
            }
        }
    }
}

