@import "./variables.scss";

.navbar-container {
    background-color: $dark-blue;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 4rem;
    align-items: center;
    position: relative;
    padding: 0 2rem;

    #logomarca {
        position: absolute;
        width: 4rem;
        top: 20px;
        left: 20px;
        color: $white-color;
    }

    li{
        font-size: 14px;
        list-style: none;
        display: inline-block;
        margin: 1rem;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: 600;
        
        a{
            text-decoration: none;
            color: $white-color;
            position: relative;
            transition: 0.3s;

            &:not(.default-btn)::after {
                content: " ";   
                width: 0%;
                height: 1px;
                background-color: $white-color;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.4s;
            }

            &:hover::after {
                width: 100%;
            }

            &.default-btn{
                background-color: $white-color;
                padding: 10px;
                border-radius: 5px;
                color: $dark-blue;
            }

            &.default-btn:hover{
                background-color: $medium-blue;
                color: $white-color;
            }
        }
    }
}