@media screen and (max-width:1024px){
    .aside-container{
        #main-svg{
        display: none;
        }
    }

    .services-container {
        margin: 0;
        background: $white-color;
        
        ul {
            display: block;
            li{
                i, p, h3{
                    color: $dark-blue
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .aside-container {
        display: block;
        margin-top: 200px;
        text-align: center;
        #logomarca-aside {
        font-size: 25px;
        color: $dark-blue;
        display: block;
        margin: 70px auto;
        }
    }
    
    .navbar-container{
        justify-content: center;
        #logomarca {
            display: none;
        }
    }

    

    .services-container {
        padding: 0;
        margin: 0;
        background: $white-color;
        
        ul {
            display: block;
            li{
                i, p, h3{
                    color: $dark-blue
                }
            }
        }
    }
}